<div>
    <label>{{ form_label(form.name) }}</label>
    {{ form_widget(form.name, {
        'attr': {
            'class': 'form-control',
            'placeholder': 'skill name'
        }
    }) }}
</div>
