<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Home</title>
    </head>
    <body>
       <h1>Title</h1>
        <ul>
                <li>{{ dump(results) }}</li>
        </ul>
    </body>
</html>
